@CHARSET "ISO-8859-1";

#quartile-herd {border-collapse: collapse;}
#quartile-herd td, #herd-info #quartile-herd th {border: solid 1px #000; padding: 4px;}
#quartile-herd th.heading {background-color:#C1B57C; color:#004147; font-size: .9em;}
#quartile-herd th.subheading {background-color:#C1B57C; color:#004147; font-size: .9em;}
#quartile-herd td {font-size: .85em;}
.qtile1 {background-color: #BEE6E4;}
.qtile2 {background-color: #FFFF99;}
.qtile3 {background-color: #FC985C;}
.qtile4 {background-color: #FF0A0A;}
