@charset "UTF-8";
/*
lt orange #EF5C29

lt lt teal #E6F4F4
lt teal #CCEAE8
med teal #66bfbb
dk teal #00958E **All shades based on this color**
dk dk teal #003C39

med green #7bb634
dk green #588528

lt lt gray #f8f8f8
lt gray #E8E8E8
med grad: #666

bright red; #F60E27

*/

/* application navigation */

.hover {display:block;}

/* override bootstrap styles to apply to all nav */
.navbar {border: none; min-height: 24px; border-radius:0; z-index: 1001; white-space: nowrap; margin-bottom: 0;}
.navbar>a {display: block;}
.navbar ul {display: inline-block;}
.navbar li {display: inline-block;}
.navbar li.first {border-left: none;}
.nav li a {padding: 2px 8px; text-decoration: none;}
.dropdown-menu {background-color: transparent; box-shadow: none;}
.navbar-nav {margin: 0;}
.nav {z-index:100; /*padding-right: 20px;/* background-color:#e6f4f4;*/}
@media (min-width: 10px){
	.navbar-nav>li {float: none;}
}
@media (min-width: 768px){
	.navbar-nav>li {float: none;}
}

#top-nav {width: 100%; border-top: solid 5px #EF5C29; overflow: hidden;
	background-color: #A7DAD8;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A7DAD8), to(#66bfbb));
	
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(left, #D2ECEB, #66bfbb);
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #D2ECEB, #66bfbb);
	
	/* IE 10 */
	background: -ms-linear-gradient(left, #D2ECEB, #66bfbb);
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(left, #D2ECEB, #66bfbb);
}
#top-nav ul {width: 100%;}
#top-nav ul>li {border-bottom: solid 1px #E6F4F4; margin-left: -4px;}
#top-nav ul>li>a {color: #003C39;}
#top-nav ul>li>a:hover {background-color: inherit; color: #66bfbb;}
#top-nav ul li.current {background-color: #E6F4F4;}
#top-nav ul li.current a {background-color: #E6F4F4; font-weight: bold; color: #003C39}

.layer  {
	background-color: #E6F4F4;
	margin-left: -4px;
	margin-top: -1px;
	/* Safari 4-5, Chrome 1-9
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A7DAD8), to(#66bfbb)); */
	
	/* Safari 5.1, Chrome 10+
	background: -webkit-linear-gradient(left, #D2ECEB, #66bfbb); */
	
	/* Firefox 3.6+
	background: -moz-linear-gradient(left, #D2ECEB, #66bfbb); */
	
	/* IE 10
	background: -ms-linear-gradient(left, #D2ECEB, #66bfbb); */
	
	/* Opera 11.10+
	background: -o-linear-gradient(left, #D2ECEB, #66bfbb); */
}
.layer ul {width: 100%;}
.zlayer ul>li {border-bottom: solid 1px #003C39; border-top: solid 1px #003C39; margin-left: -4px;}
.layer ul>li>a {color: #003C39;}
.layer ul>li>a:hover {background-color: inherit; color: #66bfbb;}
.layer ul>li.current {background-color: #E6F4F4; color: #003C39; border: solid 1px #CCEAE8; border-bottom: none;}
.layer ul>li.current>a {background-color: inherit; color: #003C39; font-weight: bold;}

nav.mega {}
nav.mega, nav.mega-category {background-color:#E6F4F4; position: absolute; z-index: 200; }
nav.mega ul, nav.mega-category ul {background-color: inherit; padding: 0; border: solid 1px #CCEAE8; border-top: none; margin-left: -1px}
nav.mega-category ul li nav.mega ul {position: relative; padding: 0 10px 10px 10px; }

.mega-category ul li {display: inline-block; vertical-align:top;}

.mega ul>li.current>a {font-weight: bold;}
.mega ul, .mega ul li {display: block; vertical-align:top;}
.mega ul>li>a {background-color: inherit; color: #003C39;}
.mega ul>li>a:hover {background-color: inherit; color: #66bfbb;}
.mega ul li {display: block; border-top: solid 1px #CCEAE8; }
.mega ul>li.heading>a {font-weight: bold;}

ul#session-nav {margin: 0 0; padding: 0; list-style: none;}
ul#session-nav li {padding: 0 5px; margin: 0; float: right; line-height: 1.1em; border-left: solid 1px #00958E; position:relative;}
ul#session-nav a {text-decoration: none; color: #00958E; font-weight: bold;}
ul#session-nav {float:right;}
ul#session-nav>li>ul {position: absolute; float: none;}
ul#session-nav>li>ul>li {float: none;}
ul#session-nav>li>ul, ul#session-nav>li>ul a {background-color: #00958E; color: #E6F4F4; }


#nav-width-control{position: absolute; height: 0px;}
/* END NAVIGATION */
