@CHARSET "UTF-8";
sub {color: #003E3F; font-size: 80%; font-family: "Arial Narrow","Arial","Verdana",sans-serif;}

/* report table */
#main-report {border-collapse:collapse; clear:both; margin: 0 auto; max-width: 100%;}
.tbl {border-collapse:collapse; clear:both; border: solid 1px #000; margin: 0 auto} /* the table created for fixed headers */
.tbl td {padding:1px 6px; text-align:right; white-space:nowrap;}

/* table headings */
h2.block {
	color:#004147; 
	font-weight: normal;
	text-align: center; 
	font-family: "Helvetica","Arial","Verdana",sans-serif; 
	margin: 0; 
	padding: 0; 
	white-space: nowrap; 
	overflow: visible;
}/* 37px to offset width of print box */
h3.block {
	color:#6d869f; 
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	text-align: center; 
	margin: 0; 
	padding:0; 
	white-space: nowrap; 
	overflow: visible; 
	background: none;
}
th.cat-heading, th.subcat-heading {font-size:.85em; text-align: center; border:solid 1px #000; vertical-align:bottom; padding:2px;}
th.cat-heading, th.cat-heading a {color:#004147; background-color:#C1B57C; white-space:nowrap;}
th.subcat-heading, th.subcat-heading a {color:#DBFFD4; background-color:#1B9E9F; font-size:.85em; font-weight:normal;}
th span.hide-column {cursor: pointer;}

/*
.sort_asc:after {content: "▲";}
.sort_desc:after {content: "▼";}
*/
/* end table headings */

.hide-column {display:none; font-size:50%; color:#a22;}
#main-report td {font-size:.8em; text-align: center; border:solid 1px #000; font-weight:normal;}

.table-wrapper {display:none; margin: 0 auto 0; text-align: center;} /* border:solid 1px #999; padding:10px;  */
.table-wrappers td {text-align: left;}
.table-section {display:inline-block; margin: 0 auto;}
.table-container {display:inline-block;}
.open-download-menu {float: right; cursor: pointer;}
.downloads-container {position: relative; right: 2px; top:30px;}
/* IE workaround */
.ie .downloads-container {right: 30px; top:6px;}
/* IE workaround */
a.download-links {font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif; text-decoration: none; cursor: pointer; padding: 0pt 5px; display:block;}
a.download-links:hover {color:#F1F8F8; background-color:#004147;}
.download-link-wrapper {cursor: pointer; background: none repeat scroll 0% 0% transparent; color: rgb(48, 48, 48); font-size: 11px; white-space: nowrap;}
.download-links-container {
	box-shadow: 3px 3px 10px rgb(136, 136, 136); 
	border: 1px solid rgb(160, 160, 160); 
	background: none repeat scroll 0% 0% rgb(255, 255, 255); 
	position: absolute;
	right:0;
	top:28px; 
	list-style: none outside none;
    padding: 0;
    margin: 0 0 0 0;
    display:none;
}


/* header herd info */
#herd-info {max-width:50%;}
#herd-text, #quartile-herd {float:left; margin: 15px 10px 10px;}
#herd-text label {margin: 0 5px 0 0; color:#004147; background-color:#fff;}
#herd-text {text-align: left; font-size: .9em;}
#comments {position:absolute; right:120px; border: solid 1px #000; min-width: 150px; min-height: 100px; max-width:25%; text-align: left; vertical-align: top; padding: 15px;}
/* end header herd info */

/* inter-chart navigation */
#report-links {border: solid 1px #004147; margin: 15px auto; padding: 10px; background-color: #F1F8F8; clear: left;}
ul.report-nav, ul.pstring-nav {margin: 0; list-style: none; border: none; padding-left: 5px;}
ul.report-nav, ul.pstring-nav {display:inline; margin: 0; list-style: none; border: none;}
ul.report-nav li, ul.pstring-nav li {display:inline; padding: 0px 5px; border-left: solid 1px #004147; margin: 0 0 0 -5px;}
ul.report-nav li.first, ul.pstring-nav li.first {border-left: none;}
ul.report-nav li a, ul.pstring-nav li a {text-decoration: none; font: normal .8em helvetica,arial,sans-serif; color:#004147;}
ul.report-nav li a:hover, ul.pstring-nav li a:hover {text-decoration: underline;}
ul.report-nav li a.sel, ul.pstring-nav li a.sel {font-weight: bold;  text-decoration: underline;}

.subnav {margin-left: 20px;}

#herd-text {}
#herd-text .general-herd {}
#herd-text .report-specific {float: right;}
.section-header {font-weight: bold;}

#main-report td.sum-label {white-space: normal; font-weight: bold;}
th.cat-heading, th.cat-heading a {white-space:normal;}
tr#herd-avg td {border-top: solid 2px black;}


/* charts only */
.jqPlot {clear: left;}
.chart-container {margin: 0 auto 15px;}

#graph-canvas {background:transparent url('i/AgSource_watermark.gif') no-repeat center 70px; text-align: center;}
.highcharts-container {border: solid 1px #c0c0c0;}
/*.gt-1024 .chart-container {width: 380px; display:inline; margin: 0;} */
.gt-1024 .chart-odd {float: left; clear: both;}
.gt-1024 .chart-even {float: right;}
.gt-1024 .chart-last-odd {display: block; margin: 0 auto;}
.gt-1024 .chart-container {width: 480px;}
.gt-1024 .highcharts-container {width: 480px;}



