/dummy.php
/gsg_app/config/database.php
/.buildpath
/.project
/.settings
/deployment.properties
/ci_system_tmp
/uploads
/deployment.xml
/asset_cache
/phpinfo.php
/php.ini
/vendor
/demo1.html
/demo2.html
/demo3.html
/npm-debug.log
