@charset "UTF-8";
.box{
	border: solid 3px #00958E;
	border-radius: 6px;
	margin-bottom: 15px;
}

.box h2{
	font-family:"Helvetica", "Arial", "Verdana", sans-serif;
	font-size:1.1em;
	font-weight:bold;
	background-color: #00958E;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66bfbb), to(#00958E));
	
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #00958E, #66bfbb);
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #00958E, #66bfbb);
	
	/* IE 10 */
	background: -ms-linear-gradient(top, #00958E, #66bfbb);
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #00958E, #66bfbb);
	color: #E6F4F4;
	padding:5px;
	margin:0px;
}
.box h3{
	font-family:"Helvetica", "Arial", "Verdana", sans-serif;
	font-size:.95em;
	font-weight:bold;
	background-color: #66bfbb;
	color: #003C39;
	padding:0px 10px 10px 10px;
	margin:0px;
}

.box #herd-text{
	float: none;
	margin: 0;
}

.box ul {
	margin:0;
}
