@CHARSET "UTF-8";

.tab-wrapper {
	white-space: nowrap;
	display: block; 
	position: relative;
}
form#select_cow {
	display: block; 
	max-width:150px; 
	position: relative; 
	white-space: nowrap;
}
form#select_cow>input, form#select_cow>select{
	margin-right: 40px;
}
div#tab-container {
	display: block; 
	white-space: nowrap; 
	position: relative; 
	vertical-align: top; 
	background: #E6F4F4;
	border: solid 4px #00958E;
}
div#tab-container th.subcat-heading {white-space: normal;}
.tab-content {position: relative;}
