@charset "UTF-8";
.box{
	border-radius: 6px
}

.box h2{
	font-family:"Helvetica", "Arial", "Verdana", sans-serif;
	font-size:1.4em;
	font-weight:bold;
	background-color: #00958E;
	padding:10px;
}
.box h3{
	font-family:"Helvetica", "Arial", "Verdana", sans-serif;
	font-size:.95em;
	font-weight:bold;
	background-color: #66bfbb;
	color: #003C39;
	padding:0px 10px 10px 10px;
	margin:0px 0px 18px 0px;
	border-bottom: solid 2px #EF5C29;
}

.box{
	border: solid 3px #00958E;
	/*margin-bottom: 10px;
	padding: 2px;*/
}

.box form, .box p, .box div{
	padding: 0 20px;
}
